<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

    <!-- Defines what concrete classes to use for Exercise.Domain interfaces -->
    <!-- Defines what AutoFac module to use for injection bindings -->
    <autofac defaultAssembly="Exercise.Api">
        <modules>
            <module type="Exercise.Bindings.ToConsoleModule, Exercise.Bindings" />
            <!--<module type="Exercise.Bindings.ToFileModule, Exercise.Bindings" />-->
            <!--<module type="Exercise.Bindings.ToTraceModule, Exercise.Bindings" />-->
        </modules>
    </autofac>

    <!-- For Exercise.App.ToTrace -->
    <!-- Defines what trace listerners to use -->
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
                <!--<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Exercise.log" />-->
            </listeners>
        </trace>
    </system.diagnostics>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
